{% extends 'serenity_tools_base.html' %}

{% block app_title %}
About
{% endblock %}

{% block app_content %}
<div class="container">
<h2>About these tools</h2>
<p>The tools on this website are provided in the hope that they may be of use to you. However, they are all provided ​“as-is”. We make no warranties, express or implied, and hereby disclaim all implied warranties, including any warranty of merchantability and warranty of fitness for a particular purpose.</p>

<p>If you have any suggestions, contact me via the details on <a href="//www.serenity.uk.net">my main site</a>.</p>
<p>Richard Jenkins</p>
</div>
{% endblock %}

