{% extends 'serenity_tools_base.html' %}

{% block app_title %}
About
{% endblock %}

{% block app_content %}
<div class="container">
<h2>Serenity Tools</h2>
<p>This is a little holding pen for web tools I've developed - none are anything fancy, and they may well have bugs in!</p>
<p>Suggestions, bug reports, and pull requests welcome <a href="https://github.com/rwjuk/serenity-tools">on GitHub</a>.</p>

<ul>
    <li><a href="/postcodes">Postcode distance calculator</a> - calculates the distance between postcodes, has a batch option to test a bunch of postcodes against one "central point".</li>
</ul>

<h2>Disclaimer</h2>
<p>The tools on this website are provided in the hope that they may be of use to you. However, they are all provided ​“as-is”. We make no warranties, express or implied, and hereby disclaim all implied warranties, including any warranty of merchantability and warranty of fitness for a particular purpose.</p>

<p><strong>Richard Jenkins</strong></p>
</div>
{% endblock %}

