{% extends 'serenity_tools_base.html' %}

{% block extra_includes %}
<script src="{{ url_for('static', filename='postcodes.js') }}"></script>
{% endblock %}

{% block app_title %}
Postcode tools
{% endblock %}

{% block app_content %}
<div class="container">
	<h2>Postcode tools</h2>
	
	<div class="row postcode-row">
    <div class="col">
      <h4>Distance between two postcodes</h4>
	<input type="text" placeholder="Postcode 1">
	<input type="text" placeholder="Postcode 2">
	<button class="btn btn-primary" id="btn-calc-single-postcode">Calculate</button>
    </div>
    <div class="col">
      <textarea id="output" disabled></textarea>
    </div>
  </div>
</div>
{% endblock %}