{% extends 'serenity_tools_base.html' %}

{% block extra_includes %}
<script src="{{ url_for('static', filename='postcodes.js') }}"></script>
{% endblock %}

{% block app_title %}
Postcode tools
{% endblock %}

{% block app_content %}
<div class="container">
	<h2>Postcode tools</h2>
	
	<div class="row postcode-row">
    <div class="col">
      <h4>Distance between two postcodes</h4>
	<input type="text" id="postcode1" placeholder="Postcode 1">
	<input type="text" id="postcode2" placeholder="Postcode 2">
	<button class="btn btn-primary" id="btn-calc-single-postcode">Calculate</button>
    
	<h4>Distance between multiple postcodes</h4>
	<p>This tool tests multiple postcodes against one "reference" or centre-point code.</p>
	<p>Enter postcodes to test against one per line in second box. Spacing and capitalisation does not matter.</p>
	<input type="text" id="ref_postcode" class="block" placeholder="Reference postcode">
	<textarea id="postcode-list" class="block"></textarea>
	<button class="btn btn-primary block" id="btn-calc-multi-postcode">Calculate</button>
    </div>
    <div class="col">
      <h4>Options</h4>
      <div class="row">
          <div class="col">
            <div id="unit-options">
            <h5>Units</h5>
            <input type="radio" name="units" id="radio-miles" value="miles"> <label for="radio-miles">Miles</label> <br />
            <input type="radio" name="units" id="radio-km" value="km"> <label for="radio-km">Kilometres</label>
            </div>
          </div>
          <div class="col">
            <h5>Formatting</h5>
            <input type="radio" name="format" id="radio-readable" value="readable"> <label for="radio-readable">Human-readable</label> <br />
            <input type="radio" name="format" id="radio-csv" value="csv"> <label for="radio-csv">CSV</label>
          </div>
      </div>
      <textarea id="output" disabled></textarea>
    </div>
  </div>
</div>
{% endblock %}